<header class="open">
    <div class="container">
        <nav class="nav">
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </div>
            <a href="index/html" class="logo"><img src="../../assets/images/logo-rosa.png" alt="Logo Rosa"></a>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Menu</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Reservations</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">News</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Shop</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <section class="hero" id="hero">
        <div class="container">
            <h2 class="sub-headline">
                <span class="first-letter">W</span>elcome
            </h2>
            <h1 class="headline">The Rosa</h1>
            <div class="headline-description">
                <div class="separator">
                    <div class="line line-left"></div>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    <div class="line line-left"></div>
                </div>
                <div class="single-animation">
                    <h5>Ready to be opened</h5>
                    <a href="#" class="btn cta-btn"></a>
                </div>
            </div>
        </div>
    </section>
</main>


<script src="../../assets/js/main.js"></script>
<router-outlet></router-outlet>